/*  your css code here. If applicable */
body{
	margin:0;
	padding:0;
	box-sizing:border-box;
	background:#dad8ed;
}
.container{
	display:grid;
	grid-template-columns:2fr 4fr 3fr;
	grid-template-rows:50px 1fr;
	grid-template-areas:"h h h" "la ma pn";
	gap:10px;
}
.header{
	grid-area:h;
	background:#1c1b26;
	color:white;
	line-height:5px;
	text-align:center;
}
.article{
	grid-area:la;
	background:rgb(255,255,255);
	border-radius:10px;
	padding:5px;
	height:max-content;
}
.main-article{
	grid-area:ma;
	background:rgb(255,255,255);
	border-radius:10px;
	padding:5px;
	text-align:center;
	height:max-content;
}
.pictorial{
	grid-area:pn;
	background:rgb(255,255,255);
	border-radius:10px;
	padding:10px;
}